@use "../../styles/variables" as *;

.show-label {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  background: $show-bg;
  color: $show-text;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
